layout {
    tab name="shell"

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }

        pane

        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
