    zjstatus location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
        border_enabled "false"
        datetime "#[fg=#57606a,bg=#f6f8fa,bold] {format} "
        datetime_format "%A, %d %b %Y %H:%M"
        datetime_timezone "America/Chicago"
        format_left "#[fg=#0969da,bg=#f6f8fa,bold]{mode} #[fg=#0969da,bg=#f6f8fa,bold] {session} {tabs} "
        format_right "{pipe_zjstatus_hints}"
        format_space "#[bg=#f6f8fa]"
        mode_enter_search "#[fg=#ffffff,bg=#0969da] {name} "
        mode_locked "#[fg=#24292f,bg=#f6f8fa]󰌾"
        mode_move "#[fg=#ffffff,bg=#0969da] {name} "
        mode_normal "#[fg=#ffffff,bg=#0969da] {name} "
        mode_pane "#[fg=#ffffff,bg=#0969da] {name} "
        mode_prompt "#[fg=#ffffff,bg=#0969da] {name} "
        mode_rename_pane "#[fg=#ffffff,bg=#0969da] {name} "
        mode_rename_tab "#[fg=#ffffff,bg=#0969da] {name} "
        mode_resize "#[fg=#ffffff,bg=#0969da] {name} "
        mode_scroll "#[fg=#ffffff,bg=#0969da] {name} "
        mode_search "#[fg=#ffffff,bg=#0969da] {name} "
        mode_session "#[fg=#ffffff,bg=#0969da] {name} "
        mode_tab "#[fg=#ffffff,bg=#0969da] {name} "
        mode_tmux "#[fg=#ffffff,bg=#bc4c00] {name} "
        tab_active "#[fg=#24292f,bg=#f6f8fa,bold,italic] {index} {name} "
        tab_active_fullscreen "#[fg=#57606a,bg=#f6f8fa,bold,italic] {index} {name} [] "
        tab_active_sync "#[fg=#57606a,bg=#f6f8fa,bold,italic] {index} {name} <> "
        tab_normal "#[fg=#6e7781,bg=#f6f8fa] {index} {name} "
        tab_normal_fullscreen "#[fg=#6e7781,bg=#f6f8fa] {index} {name} [] "
        tab_normal_sync "#[fg=#6e7781,bg=#f6f8fa] {index} {name} <> "
        pipe_zjstatus_hints_format "{output}"
    }
